* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: #2e3338;
}

::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 20px;
}
